JWT_SECRET=edushare_secret_key_123
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=duy1tran!?
DB_NAME=edushare_db
PORT=3000

CLOUDINARY_CLOUD_NAME=virusbetatester
CLOUDINARY_API_KEY=853678527463123
CLOUDINARY_API_SECRET=Ok7vdtfmXaaAwcSZEEFkUVisj28

# MAILTRAP_USER=your_mailtrap_username
# MAILTRAP_PASS=your_mailtrap_password

# MAILTRAP_TOKEN=ec7a6838a49880f51e2a0ec20fe34e45

GMAIL_USER=duyhoangtran2006@gmail.com
GMAIL_PASS=xxtb bnha lsbr jlhr

# PAYOS_CLIENT_ID=your_client_id_here
# PAYOS_API_KEY=your_api_key_here
# PAYOS_CHECKSUM_KEY=your_checksum_key_here

RECAPTCHA_SITE_KEY=6LdMa1wtAAAAAM4vLM_v-uh7ft6wwPD__tSd3Qa9
RECAPTCHA_SECRET_KEY=6LdMa1wtAAAAAF0FVv62yD6wrXogc-bAk0LuXa4i
